@model MyCarApp.BE.ViewModels.RentPdfVM
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Generate Rent Invoice</title>
    @Styles.Render("~/Content/userCss")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/Invoice.css" rel="stylesheet" />
</head>
<body>
    @if (Model != null)
    {
        @*<div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card1 text-center">
                            <div style="padding:10px" class="card-block">
                                <img src="~/Images/successImage.png" height="100" width="100" alt="" />
                                <div class="card-title">
                                    <h4><strong>Payment Completed</strong></h4>
                                    <h5>Thank you for ordering from us.</h5>
                                    <hr />
                                </div>
                                <div class="card-text" style="background-color:#f5f7f7; ;  font-family: sans-serif">
                                    <b>Car Name : </b>@Model.CarName - @Model.CarVarientName<br />
                                    <b>Price : </b>&#8377; @Model.Price<br />
                                    <b>Customer : </b>@Model.UserName<br />
                                    <b>Address : </b>@Model.UserAddress<br />
                                    <b>From : </b>@Model.StartDate<br />
                                    <b>To : </b>@Model.EndDate<br />
                                </div>
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        <div class="container" style="padding-left: 100px; padding-right:100px;">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 body-main" style="padding-left: 50px; padding-right: 50px;">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4"> <img class="img" alt="MyCarApp" src="~/myCarAppBrand.png" /> </div>
                            <div class="col-md-8 text-right" style="font-size:14px">
                                <h4><strong>To</strong></h4>
                                <h4 style="color: dodgerblue; font-size: 20px;"><strong>@Model.UserName</strong></h4>
                                <p>@Model.UserAddress</p>
                            </div>
                        </div> <br />
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h2>INVOICE</h2>
                            </div>
                        </div> <br />

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        <h5><strong>Product Description</strong></h5>
                                    </th>
                                    <th>
                                        <h5><strong>Amount</strong></h5>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="font-size: 14px;">
                                    <td class="col-md-9">@Model.CarName - @Model.CarVarientName</td>
                                    <td class="col-md-3"><i class="fas fa-rupee-sign" area-hidden="true"></i>&#8377; @Math.Round(Model.Price, 2)</td>
                                </tr>
                                <tr style="color:dodgerblue">
                                    <td class="text-right">
                                        <h4><strong>Total:</strong></h4>
                                    </td>
                                    <td class="text-left">
                                        <h4><strong><i class="fas fa-rupee-sign" area-hidden="true"></i>&#8377; @Math.Round(Model.Price, 2) </strong></h4>
                                    </td>
                                </tr>
                                <tr>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-3" style="font-size:14px">
                            <span><b>Start Date :</b> @Model.StartDate</span><span class="pull-right"><b>End Date :</b> @Model.EndDate</span> <br />
                            <br />
                            <br />
                            <br />
                            <img src="~/Images/AmitSign.png" alt="Amit Degadwala" />
                            <p><b>Signature</b></p>
                        </div>
                        @*<div class="col-md-9 pull-right" style="text-align:right">
                            <h4><strong>Dealer Info</strong></h4>
                            <h5>@Model.DealerName</h5>
                            <h5>@Model.DealerAddress</h5>
                            <h5>@Model.DealerContact</h5>
                        </div>*@
                    </div>
                </div>
            </div>

        </div>
    }
    else
    {
        Response.Redirect("/User/UserProfile");
    }
</body>
</html>
