
@{
    ViewBag.Title = "Index";
}

@Styles.Render("~/Content/Index.css")
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexPage</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/Sample.js"></script>
    <link href="~/Content/Sample.css" rel="stylesheet" />
    <!------ Include the above in your HEAD tag ---------->
</head>
<body>
    @if (ViewBag.Message != null)
    {
        <div id="nofication" style="background: green; z-index: 10000;padding-top: 14px; padding-bottom: 15px;" class="notification">
            @ViewBag.Message
        </div>
    }
    <div class="container-fluid list-unstyled" style="width:auto; height:100%;">
        <div class="banner-content" style="background-image: url('../../Images/banner.gif'); min-height: 590px; background-size:cover;min-width:400px ">
            <div class="card1 text-center" style="padding-top:50px;padding-bottom:50px;padding-left:50px; height:auto">
                <div class="card-block" style="background-color:white; width:350px; min-height: 450px;border-radius:8px">
                    <div class="card-title">
                        <h2 style="font-weight:bold; padding-top:25px">Find your right Car</h2>
                    </div>
                    <div class="text-center" style="padding-left:80px">
                        <ul class="nav nav-pills">
                            <li class="active"><a data-toggle="pill" href="#home">New Car</a></li>
                            <li><a data-toggle="pill" href="#menu1">Used Car</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div id="home" class="tab-pane fade in active">
                            <form action="/User/SearchCars" method="post">
                                <h3><b>New Car</b></h3>
                                <input type="hidden" name="category" value="new" />
                                <div class="dropdown" style="padding:16px; height:auto;">
                                    <select name="ByBudget" class="form-control" id="Indexdropdwn">
                                        <option value="3-5lac">3-5 Lakh</option>
                                        <option value="5-10lac">5-10 Lakh</option>
                                        <option value="10-15lac">10-15 Lakh</option>
                                        <option value="15-30lac">15-30 Lakh</option>
                                        <option value="above 30 lacs">above 30 Lakh</option>
                                    </select>
                                    <br />
                                    <select name="ByBrand" class="form-control" id="Indexdropdwn">
                                        <option>Audi</option>
                                        <option>BMW</option>
                                    </select>
                                </div>
                                <div class="row3" style="padding-top:10px">
                                    <input type="submit" class="btn btn-warning btn-lg"
                                           style="width:280px; height:50px; background-color:orangered" value="Search New Cars" />
                                </div>
                            </form>
                        </div>
                        <div id="menu1" class="tab-pane fade">
                            <form action="/User/SearchCars" method="post">
                                <h3><b>Used Car</b></h3>
                                <input type="hidden" name="category" value="used" />
                                <div class="dropdown" style="padding:16px; height:auto;">
                                    <select name="ByBudget" class="form-control" id="Indexdropdwn">
                                        <option value="3-5lac">3-5 Lakh</option>
                                        <option value="5-10lac">5-10 Lakh</option>
                                        <option value="10-15lac">10-15 Lakh</option>
                                        <option value="15-30lac">15-30 Lakh</option>
                                        <option value="above 30 lacs">above 30 Lakh</option>
                                    </select>
                                    <br />
                                    <select name="ByLocation" class="form-control" id="Indexdropdwn">
                                        <option>Ahmedabad</option>
                                        <option>Vadodara</option>
                                        <option>Gandhinagar</option>
                                    </select>
                                </div>
                                <div class="row3" style="padding-top:10px">
                                    <input type="submit" class="btn btn-warning btn-lg"
                                           style="width:280px; height:50px; background-color:orangered" value="Search Used Cars" />
                                </div>
                            </form>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="container11" style="min-width:400px">
            <h1 id="Indexheading">Latest Cars</h1>

            <div class="row">
                <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel" data-interval="1000">
                    <div class="MultiCarousel-inner">

                        @foreach (var item in ViewBag.LatestCars)
                        {
                            <div class="item">
                                <div class="card1 text-center">
                                    <div class="card-block">
                                        <img src="~/Uploads/CarsImages/@item.Image" style="height: 100px; width: 120px; object-fit: cover;padding-top: 10px;" />
                                        <div class="card-title">
                                            <h4>@item.Name</h4>
                                        </div>
                                        <div class="card-text">@item.ShortDescription</div>
                                        <a style="margin-top:10px; margin-bottom:10px;" href="/User/CarDetails?Id=@item.Id" class="btn btn-success">View Car</a>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                    <button class="btn btn-primary leftLst"><</button>
                    <button class="btn btn-primary rightLst">></button>
                </div>
            </div>
        </div>

        <div class="container11" style="min-width:400px">
            <h1 id="Indexheading">Trusted Cars By Budget</h1>

            <div class="row">
                <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel" data-interval="1000">
                    <div class="MultiCarousel-inner">
                        @foreach (var item in ViewBag.Top10Cars)
                        {
                            <div class="item">
                                <div class="card1 text-center">
                                    <div class="card-block">
                                        <img src="~/Uploads/CarsImages/@item.Image" alt="" style="height: 100px; width: 120px; object-fit: cover;padding-top: 10px;" />
                                        <div class="card-title">
                                            <h4>@item.Name</h4>
                                        </div>
                                        <div class="card-text">@item.ShortDescription</div>
                                        <a style="margin-top:10px; margin-bottom:10px;" href="/User/CarDetails?Id=@item.Id" class="btn btn-success">View Car</a>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                    <button class="btn btn-primary leftLst"><</button>
                    <button class="btn btn-primary rightLst">></button>
                </div>
            </div>
        </div>

        <div class="container11" style="min-width:400px">
            <h1 id="Indexheading">Popular Brands</h1>

            <div class="row">
                <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel" data-interval="1000">
                    <div class="MultiCarousel-inner">
                        <div class="item">
                            <div class="card1 text-center">
                                <div class="card-block">
                                    <img src="~/Images/BMW.jpg" alt="" class="img-thumbnail" style="height:150px" />
                                    <div class="card-title">
                                        <h4>BMW</h4>
                                    </div>
                                    <div class="card-text"></div>
                                    <a style="margin-top:10px; margin-bottom:10px;" href="/User/CarsByBrand/?brand=BMW" class="btn btn-success">View Cars</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card1 text-center">
                                <div class="card-block">
                                    <img src="~/Images/audi.png" class="img-thumbnail" style="height:150px" />
                                    <div class="card-title">
                                        <h4>Audi</h4>
                                    </div>
                                    <a style="margin-top:10px; margin-bottom:10px;" href="/User/CarsByBrand/?brand=Audi" class="btn btn-success">View Cars</a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary leftLst"><</button>
                    <button class="btn btn-primary rightLst">></button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
@section scripts{
    <script>
        setTimeout(function () {
            $('#nofication').fadeOut('fast');
        }, 4000);
    </script>
}
