@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<MyCarApp.BE.BussinessEntities.Car>

@{
    ViewBag.Title = "Old Cars";
}
<div class="breadcrumb-option">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="/User/index"><i class="fa fa-home" style="padding-right: 5px;"></i>Home</a>

                    <span>Used Cars</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="filter-layout row">
    <div class="col-md-4">
        <div class="dropdown">
            <button class="dropbtn">Sort by</button>
            <div class="dropdown-content">
                @Html.ActionLink("Brand Name", "UsedCars", new { sortOrder = ViewBag.BrandNameSortParm, currentFilter = ViewBag.CurrentFilter })
                @Html.ActionLink("Kilometers", "UsedCars", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </div>
        </div>

    </div>

    @using (Html.BeginForm("UsedCars", "User", FormMethod.Get))
    {
        <div class="col-md-8">
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @Placeholder = "Search" })
        </div>
        <div class="col-md-1">
            <input type="submit" class="btn btn-success" value="Search" />
        </div>
    }
</div>
<br />
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="card">
                <a href="/User/CarDetails?Id=@item.Id">
                    <div class="imgBox">
                        <img src="~/Uploads/CarsImages/@item.Image" />
                    </div>
                </a>
                <div class="contentBox">
                    <h3> @Html.DisplayFor(modelItem => item.Name)</h3>
                    <h2 class="price">Brand: @item.Brand</h2>
                    <h3 class="price">&#8377; @Math.Round(item.CarVarients.OrderBy(x => x.Price).FirstOrDefault().Price, 2)</h3>
                    <h5 class="price">@item.Kilometers km</h5>
                </div>
            </div>
        </div>
    }
</div>
<br />
<div class="filter-layout" style="flex-direction:column">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("UsedCars",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>
