@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password :: My Car App</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/Content/AuthPageStyle.css" rel="stylesheet" />
    <link rel="icon" href="~/MyCarApp.png" type="image/imge_header">
    @{ Html.EnableClientValidation(); }
</head>
<body>
    <div id="nofication" style="background:blue; display:none;" class="notification">
        <p id="message" style="color:white;"></p>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    <div class="main">

        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="~/images/rent.gif" alt="sing in image" style="border-radius:10px"></figure>
                        
                        <div style="color:red;">@Html.ValidationSummary()</div>
                    </div>

                    <div class="align-vertical">
                        <form class="signin-form" id="form1">
                            <h2 class="form-title">Reset Password</h2>
                            <input type="hidden" name="email" id="email" value="@ViewBag.Email" />
                            <div class="form-group">
                                <label for="your_password"><i class="fa fa-lock material-icons-name"></i></label>
                                <input type="password" id="password" name="pass" placeholder="Enter New Password" required />
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" id="submit" class="form-submit" value="Submit" />
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </section>
    </div>

    <script>
        $('#form1').submit(function (e) {
            e.preventDefault();

        $.ajax(
            {
                type: "POST",
                async: true,
                url: "/User/SetPassword",
                data: {
                    email: $("#email").val(),
                    pass: $("#password").val(),
                },
                success: function (data) {
                    if (data == '1') {
                        window.location = '/User/LoginPage';
                    }
                    else {
                        window.location = '/User/ForgotPassword';
                    }
                   
                }
            });
        });
       @* function call() {

            document.getElementById('nofication').style.display = 'block';
            setTimeout(function () {
                $('#nofication').fadeOut('fast');
            }, 4000);
        }*@

    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</body>
</html>