@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<MyCarApp.BE.BussinessEntities.Car>

@{
    ViewBag.Title = "Subscribe Cars";
}
<br />
<div class="filter-layout row">
    <div class="col-md-4">
        <div class="dropdown">
            <button class="dropbtn">Sort by</button>
            <div class="dropdown-content">
                @Html.ActionLink("Brand Name", "SubscribeCars", new { sortOrder = ViewBag.BrandNameSortParm, currentFilter = ViewBag.CurrentFilter })
                @Html.ActionLink("Car Name", "SubscribeCars", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </div>
        </div>

    </div>

    @using (Html.BeginForm("SubscribeCars", "User", FormMethod.Get))
    {
        <div class="col-md-8">
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @Placeholder = "Search" })
        </div>
        <div class="col-md-1">
            <input type="submit" class="btn btn-success" value="Search" />
        </div>
    }
</div>
<br />
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="card">
                <a href="/User/CarDetails?Id=@item.Id">
                    <div class="imgBox">
                       <img src="~/Uploads/CarsImages/@item.Image" />
                    </div>
                </a>
                <div class="contentBox">
                    <h3> @Html.DisplayFor(modelItem => item.Name)</h3>
                    <h2 class="price">Brand: @item.Brand</h2>
                    <h3 class="price">From : @Math.Ceiling(item.CarVarients.OrderBy(x => x.Price).FirstOrDefault().Price)</h3>
                </div>
            </div>
        </div>
    }
</div>
<br />
<div class="filter-layout" style="flex-direction:column">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("SubscribeCars",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>
